body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

table td {
    cursor: pointer; 
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pre-content{
    text-align: center;
}

.comment-section {
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    overflow-y: auto;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.comment-section h3 {
    margin-top: 0;
}

.shift-right {
    margin-left: 30%;
}

.fa-thumbs-up, .fa-thumbs-down {
    cursor: pointer;
    margin: 0 5px;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
    color: #0a58ca; /* Change color on hover */
}

.likes, .dislikes {
    margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Grey out background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other items */
}

.access_form {
    position: absolute;
    z-index: 1001; /* Above the overlay */
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled {
    background-color: #000; /* or any color to indicate disabled */
    color: #fff;
    pointer-events: none;
}

td button{
    pointer-events: all !important; 
}

.notshow{
    display: none;
}

#participantForm {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
}

#participantForm button {
    width: 100%;
    padding: 0.5rem;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

#participantForm input[type="text"],
#participantForm input[type="password"] {
    width: 100%; /* Make inputs fill the form */
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.displayButton{
    display: block;
}


